<div class="container h-100">
  <div class="row h-100 align-items-center">
    <div class="col-md-12">
      <div class="card w-50 mx-auto" style="background-color:transparent!important">
        <div class="card-body text-center" >
          <h1 class="card-title">Oops!</h1>
          <h2>404 Not Found</h2>
          <div>Sorry, an error has occured. Requested page not found!</div>
          <div class="my-4">
            <a href="/" class="btn btn-danger btn-lg">
              <i class="fa fa-home" aria-hidden="true"></i>
              Take Me Home
            </a>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
