<!-- ##### Breadcrumb Area Start ##### -->
<div class="vizew-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Forget Password</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<div class="vizew-login-area section-padding-80">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="login-content">
          <!-- Section Title -->
          <div class="section-heading">
            <h4>Try to find your password!</h4>
            <div class="line"></div>
          </div>
          {{#if notContain}}
          <div class="alert alert-danger" role="alert">
            {{notContain}}
          </div>
          {{/if}}
          {{#if Contain}}
          <div class="alert alert-primary" role="alert">
            {{Contain}}
          </div>
          {{/if}}
          <form action="" method="post">
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email..." required>
            </div>
            <button type="submit" class="btn vizew-btn w-100 mt-30">FIND</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Login Area End ##### -->
