@import '../layout/header';
@import '../layout/slider';

.section-container{
    margin-top: $height-primary;
    padding-top: $height-primary;
    box-shadow: inset 0px 11px 8px -10px #CCC;
}

.theme{
    &-item{
        &__img{
            position: relative;
            width: 100%;
            height: 120px;
        }

        &__link{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            display: block;
            width: 120px;
            height: 120px;
            
            border-radius: 50%;
            background-color: rgba($color-primary-light, 0.3);
            
            transition: all .3s;
            &--icon{
                @extend %block-center-center;

                display: block;
                width: 50px;
                height: 55px;
            
                background-image: url('../../../resources/img/theme/sprites1.png');
                background-repeat: no-repeat;
                
                @for $num from 0 through 3{
                    &-0#{$num}{
                        background-position: top 2px left 5px-($num*55);
                    }
                }
            }
        }

        &__link:hover,
        &__link:active{
            box-shadow: 0 0 20px rgba($color-dark, 0.7);
        }

        &__text{
            text-align: center;
            font-family: 'Montserrat Alternates', sans-serif;

            &--heading{
                font-size: 18px;
                margin: 24px 0;
            }
        }
    }
}

.post{
    &-item{
        position: relative;
        display: inline-block;
        @extend %resettaga;
        margin: 28px 0;
        box-shadow: 0 0 20px #ccc;
        border-radius: 20px;
        transition: all .3s ease;
        
        overflow: hidden;
        &__img{
            width: 100%;
            height: 200px;
            overflow: hidden;
            img{
                width: 100%;
            }
            border-radius: 20px 20px 0 0;
            // clip-path: ellipse(100% 95% at 50% 0%);
        }
    }
    &-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0 0 20px 20px;
        padding: 8px 12px;

        &__heading{
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 500;
            margin-top: 4px;
            margin-bottom: 4px;
        }
        &__paragraph{
            letter-spacing: 1px;
            line-height: 20px;
        }
        &-avt{
            position: absolute;
            top: 2%;
            left: 2%;

            img{
                width: 50px;
                height: 50px;
                clip-path: circle(40%);
                box-shadow: 0 0 10px #ccc;
            }
        }
    }
    &-item:hover{
        transform: scale(1.02);
    }

    &-item--big{
        position: relative;
        overflow: hidden;
        .blog-item__img{
            height: 250px;
        }
        .blog-info{
            position: absolute;
            bottom: -100%;
            left: 0;
            transition: bottom .5s;
        }

        .blog-item:hover .blog-info{
            bottom: 0;
        }
    }
}


.place{
    &-item{
        border-radius: 0 !important;
    }

    &--number{
        font-size: 18px;
        font-weight: 700;
    }

    &-info{
        margin: 16px;
        text-align: center;
    }
}

.copyright{
    display: block;
    width: 100%;
    text-align: center;
    line-height: 56px;
    background-color: #999;
}

.webinfo{
    margin-bottom: 32px;
    font-family: Arial, Helvetica, sans-serif;
    &__heading{
        font-size: 18px;
        line-height: 30px;
        display: inline-block;
        border-bottom: 2px solid $color-primary;
        font-weight: 500;
    }

    &-list{
        list-style-type: none;
    }
    &-item{
        line-height: 28px;
        transition: all .3s;
        &--link{
            text-decoration: none;
            color: #333;
        }

        &:hover{
            background-color: #ccc;
            font-size: 20px;
            letter-spacing: 2px;

        }
    }
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &-footer{
        img{
            width: 72px;
            height: 72px;
        }
        
        transition: all .3s linear;
        &:hover,
        &:active,
        &:focus{
            transform: scale(1.2);
        }
    }
    span{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        font-weight: 500;
        color: $color-primary;
        text-transform: uppercase;
    }
}

.logan{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    padding: 12px 0;
}

.social{
    margin: 24px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;

    &-item{
        border-radius: 50%;

        font-size: 18px;
        line-height: 42px;
        width: 42px;
        height: 42px;
        text-align: center;

        margin: 5px 12px;
        box-shadow: 0 0 10px #ccc;

        transition: all .3s linear;

        &--facebook{
            color: blue;
        }
        &--youtube{
            color: red;
        }
        &--twitter{
            color: rgb(0, 183, 255);
        }

        &:hover{
            box-shadow: 0 0 10px #333;
            transform: scale(1.2);
        }
    }
}
