@import '../abstracts/inheritance.scss';
@import '../abstracts/variable.scss';

.btn{
    @extend %block-center;
    
    display: inline-block;
    border-radius: 5px;
    padding: 6px 0px;
    min-width: 100px;
    
    text-align: center;
}

.btn-login{
    @include fontcolor(inherit, $color-light);
    background-color: $color-primary-light;
}


