.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    height: $height-primary;

    box-shadow: 0 2px 5px $color-shadow;
    background-color: rgba($color-light, 0.7);
    z-index: 100;
    
    &-logo{
        display: flex;
        width: 100%;
        height: 56px;

        text-decoration: none;
        transition: all .8;
        &:focus{
            outline: none;
            transform: scale(1.1);
        }

        &__name{
            line-height: $height-primary;
            text-transform: uppercase;
            font-weight: 700;

            @include fontcolor(20px, $color-primary);
        }
    }

    &-nav{
        font-size: 18px;
        &__item{
            display: inline-block;
            padding: 0 12px;
            line-height: $height-primary;
            transition: background-color .3s ease;
        }

        &__item:hover,
        &__item:active{
            border-bottom: 2px solid $color-primary;
            background-color: rgba(170, 170, 170, 0.3);
        }

        &__link{
            @include fontcolor(18px, $color-header);
            &:focus{
                outline: none;
                font-size: 22px;
                font-weight: bolder;
            }
        }
    }

    &-right{
        position: relative;
        width: 100%;
        height: $height-primary;

        .btn{
            &:focus{
                letter-spacing: 2px;
                outline: none;
                background-color: $color-primary-light;
                @extend %btn-box-shadow;
            }
        }

        .account{
            &__btn{
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-45%);
                
                img{
                    border-radius: 50%;
                    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
                }
            }
            
            &-box{
                position: absolute;
                top: 100%;
                right: 0;
                min-width: 140px;
                background-color: white;
                box-shadow: 0 0 8px $color-shadow;
                
                opacity: 0;
                transform: translateY(80%);
                transition: all .2s linear;
    
                &__item{
                    list-style-type: none;
                }
                a{
                    @include fontcolor(16px, $color-primary);
                    padding: 7px 5px;
                    display: block;
                    text-align: center;

                    &:hover{
                        background-color: #ccc;
                    }

                    &:active{
                        background-color: #ccc;
                        transform: scale(.9);
                    }
                }
            }

            &--checked{
                display: none;
            }

            &--checked:checked ~ .account-box,
            &--checked:checked ~ .overlay{
                opacity: 1;
                display: block;
                transform: translateY(0);
            }
        }
    }
}