@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.slider{
    position: relative;
    height: 100vh;
    @include backgroundfull__linear(
        none,
        url('../../../resources/img/slider/slider_001.png')
    );
    transition: background-image 1s linear;
    animation: fade 1s;
    z-index: 1;
    &-box::before{
        content: ".";
        position: absolute;
        top: -10%;
        left: 0;
        background-color: #3535353a;
        width: 100%;
        height: 120%;
        z-index: -1;
    }

    &-box{ 
        
        @extend %block-center-center;
        width: 100%;
        backdrop-filter: blur(20px);
        
        &__upload{
            a{
                display: inline-block;
                border-radius: 15px 15px 0px 0px;
                width: 100%;
                line-height: $height-primary;
                
                text-align: center;
                text-transform: uppercase;
                @include fontcolor(20px, $color-light);

                background-color: $color-primary;

                transition: all .2s;
            }
            a:hover,
            a:active{
                background-color: $color-primary-light;
            }
        }
        
        &__search{
            margin-top: 4px;
            min-height: 100px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $color-light;

            &--input{
                width: 80%;
                padding: 3px 12px;
                background-color: rgba(233, 109, 7, 0.5);
                border: none;
                height: 42px;
                border-radius: 30px 0 0 30px;
                letter-spacing: 1px;
                font-size: 15px;
                transition: all .2s;
            }
            &--input:focus{
                outline: none;
                font-size: 18px;
            }
            
            &--btn{
                width: 19%;
                padding: 3px 12px;
                background-color: $color-primary;
                color: $color-light;
                border: none;
                height: 42px;
                border-radius: 0 30px 30px 0;
                font-size: 18px;
            }
            &--btn:focus{
                outline: none;
            }
        }

        &__heading{
            margin: 12px 0;

            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;

            color: $color-primary;
        }
        

        &__form{
            width: 100%;
            padding: 12px 10px;
        }
    }
    &__next{
        @include slider-pagination(right);

        &-icon{
            @extend %align-center;
            right: 10px; 
            @extend %icon-circle;
        }

    }
    &__previous{
        @include slider-pagination(left);

        &-icon{
            @extend %align-center;
            left: 10px;
            @extend %icon-circle;
        }
    }

    &__next:hover,
    &__next:active,
    &__previous:hover,    
    &__previous:active{    
        background-color: rgba(44, 44, 44, 0.3);
    }

    &-dot{
        position: absolute;
        bottom: 10px;

        left: 50%;
        transform: translateX(-50%);
        input[id^="slider-dot"]{
            opacity: 0;
        
        }

        label + label{
            margin-left: 10px;
        }

        &-label{
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $color-light;
        
            &:hover{
                background-color: $color-primary;
            }
            &--checked{
                background-color: $color-shadow;
            }
        }
    }
}