<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin | Tài khoản</title>
    <link rel="stylesheet" href="../../public/resources/css/libraries/grid.css">
    <link rel="stylesheet" href="../../public/resources/css/all/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>
    <!-- Begin Header -->
    <div class="row header">
        <div class="grid wide">
            <div class="row">
                <div class="col l-2">
                    <a href="#" class="header-logo">
                        <img src="../../public/resources/favicons/android-chrome-96x96.png" alt="logo">
                        <span class="header-logo__name">VnTourism</span>
                    </a>
                </div>
                <div class="col l-8">
                    <ul class="header-nav">
                        <li class="header-nav__item"><a href="#" class="header-nav__link">Điểm đến</a></li>
                        <li class="header-nav__item"><a href="#" class="header-nav__link">Kinh nghiệm</a></li>
                        <li class="header-nav__item"><a href="#" class="header-nav__link">Hình ảnh</a></li>
                        <li class="header-nav__item"><a href="#" class="header-nav__link">Cộng động</a></li>
                        <li class="header-nav__item"><a href="#" class="header-nav__link">TravelMap</a></li>
                        <li class="header-nav__item"><a href="#" class="header-nav__link">Tiện ích</a></li>
                    </ul>
                </div>

                <!-- Chưa đăng nhập -->
                <div class="col l-2">
                    <div class="header-right">
                        <a href="./login.html" class="btn btn-center-center btn-primary">Đăng nhập</a>
                    </div>
                </div>

                <!-- Đã đăng nhập -->
                <!-- <div class="col l-2">
                    <div class="header-right">
                        <div class="account">
                            <input type="checkbox" id="account--checked" class="account--checked">
                            <label for="account--checked" class="overlay"></label>
                            <label for="account--checked" class="account__btn">
                                <img src="../../public/resources/img/bg-signin.jpg" alt="button account"
                                width="48px" height="48px">
                            </label>
                            <ul class="account-box">
                                <li class="account-box__item">
                                    <a href="#" for="account--checked">Thông tin</a>
                                </li>
                                <li class="account-box__item"><a href="#">Thông tin</a></li>
                                <li class="account-box__item"><a href="#">Thông tin</a></li>
                                <li class="account-box__item"><a href="#">Thông tin</a></li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- End Header -->

    <!-- Begin Scene -->
    <div class="grid wide account">
        <div class="row">
            <div class="col l-12">
                <div class="scene">
                    <div class="scene-avt">
                        <img src="./../../public/resources/img/bg-signin.jpg" alt="avatar" class="scene-avt__img">
                        <h3 class="scene-avt__name">Lương Thế Vinh</h3>
                    </div>
                    <ul class="scene-nav">
                        <li class="scene-nav__item">
                            <a href="#" class="scene-nav__item--link active">
                                Thông tin tài khoản
                            </a>
                        </li>
                        <li class="scene-nav__item">
                            <a href="#" class="scene-nav__item--link">
                                Bài viết
                            </a>
                        </li>
                        <li class="scene-nav__item">
                            <a href="#" class="scene-nav__item--link">
                                Địa điểm
                            </a>
                        </li>
                        <li class="scene-nav__item">
                            <a href="#" class="scene-nav__item--link">
                                Đánh giá
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col l-12">
                <div class="option-heading">
                    <h3>Thông tin cá nhân</h3>
                </div>    
            </div>
        </div>
        <div class="row">
            <div class="col l-3">
                <div class="option-settings">
                    <h4 class="option-settings__title">Cài đặt</h4>
                    <ul class="option-settings-list">
                        <li class="option-settings__item">
                            <a class="option-settings__item--link active" href="#">Hồ sơ cá nhân cá nhân cá nhân cá cá cá  nhân</a>
                        </li>
                        <li class="option-settings__item">
                            <a class="option-settings__item--link" href="#">Thay đổi mật khẩu</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col l-9">
                <div class="option-contents">

                </div>
            </div>
        </div>
    </div>
    <!-- End Scene -->
</form>
</body>
</html>