<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="./../../public/resources/css/all/admin.css">
</head>
<body>
    <div class="grid wide">
        <div class="row admin-header">
            <div class="col l-2">
                <a href="#" class="admin-header-logo">
                    <img src="./../../public/resources/favicons/android-chrome-96x96.png" alt="Home">
                </a>
                
            </div>
            <div class="col l-9">
                <ul class="admin-header-nav">
                    <li class="admin-header-nav__item"><a href="#">Thống kê</a></li>
                    <li class="admin-header-nav__item"><a href="#">Thống kê</a></li>
                    <li class="admin-header-nav__item"><a href="#">Thống kê</a></li>
                    <li class="admin-header-nav__item"><a href="#">Thống kê</a></li>
                    <li class="admin-header-nav__item"><a href="#">Thống kê</a></li>
                </ul>
            </div>
             <!-- Đã đăng nhập -->
             <div class="col l-1">
                <div class="header-right">
                    <div class="account">
                        <input type="checkbox" id="account--checked" class="account--checked">
                        <label for="account--checked" class="overlay"></label>
                        <label for="account--checked" class="account__btn">
                            <img src="../../public/resources/img/bg-signin.jpg" alt="button account"
                            width="48px" height="48px">
                        </label>
                        <ul class="account-box">
                            <li class="account-box__item">
                                <a href="#" for="account--checked">Thông tin</a>
                            </li>
                            <li class="account-box__item"><a href="#">Thông tin</a></li>
                            <li class="account-box__item"><a href="#">Thông tin</a></li>
                            <li class="account-box__item"><a href="#">Thông tin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row admin-option">
            <div class="col l-2">
                <ul class="admin-article">
                    <li class="admin-article__item"><a class="admin-article__item--link" href="#">Tài khoản</a></li>
                    <li class="admin-article__item"><a class="admin-article__item--link" href="#">Tài khoản</a></li>
                    <li class="admin-article__item"><a class="admin-article__item--link" href="#">Tài khoản</a></li>
                    <li class="admin-article__item"><a class="admin-article__item--link" href="#">Tài khoản</a></li>
                    <li class="admin-article__item"><a class="admin-article__item--link" href="#">Tài khoản</a></li>
                </ul>
            </div>
            <div class="col l-10">
                <div class="admin-manage">
                    <h2>dfasdfsd</h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>