<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="../../public/resources/css/libraries/grid.css">
    <link rel="stylesheet" href="../../public/resources/css/all/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>
    <div class="grid wide">
        <div class="row login">
            <div class="col l-6 login-bg"></div>
            <div class="col l-6 login-input">
                <div class="login-input__logo">
                    <a href="/" class="login-input__logo--link">
                        <img src="./../../public/resources/favicons/android-chrome-144x144.png" alt="">
                    </a>
                </div>
                <div class="margin-left-24">
                    <h1 class="login-input__heading">Đăng ký</h1>
                    <p class="login-input__paragraph">Vui lòng nhập đầy đủ thông tin sau để tạo tài khoản mới!</p>
                    
                    <hr class="login-input--solid">
                    <form class="form-group">
                        <input type="text" placeholder="Tên đầy đủ" class="form-group__input margin-t-b-8 btn-radius-20" required>
                        <input type="email" placeholder="Email@mail.com" class="form-group__input margin-t-b-8 btn-radius-20" required>
                        <input type="text" placeholder="Tên đăng nhập" class="form-group__input margin-t-b-8 btn-radius-20" required>
                        <input type="password" placeholder="Mật khẩu" class="form-group__input margin-t-b-8 btn-radius-20" required>
                        <input type="password" placeholder="Nhập lại mật khẩu" class="form-group__input margin-t-b-8 btn-radius-20" required>
                        <div class="control-group margin-t-b-8">
                            <div class="gender">
                                <input type="radio" name="gender" id="genderMale" required>
                                <label for="genderMale">Nam</label>
                            </div>
                            <div class="gender">
                                <input type="radio" name="gender" id="genderFemale">
                                <label for="genderFemale">Nữ</label>
                            </div>
                        </div>
                        <div class="login-input-btn margin-t-b-8">
                            <input type="submit" value="Tạo tài khoản" class="btn btn-left-center btn-primary btn-radius-20"
                            id="btn-submit">
                        </div>
                        <a href="./login.html" class="login-input-link__account margin-t-b-8">Đã có tài khoản</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="./../../public/resources/js/keyup-enter.js"></script>
</body>
</html>