<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted">Copyright &copy; by <a href="https://github.com/1760322/DoAn_LTW02">HCMUS's Student</a>  </div>
    
    </div>
  </div>
</footer>
