<a href="/" class="text-secondary mr-2"><i class="fas fa-house-damage"></i></a>
<ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/updateProfile">Profile</a>
            <a class="dropdown-item" href="/updateProfile?id=nav-password">Change Password</a>
            <div class="dropdown-divider"></div>
            <form action="/logout" method="POST">
                <button type="submit" class="dropdown-item">Logout</button>
            </form>
        </div>
    </li>
</ul>
