@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 15px;
}

body{
    box-sizing: border-box;
}