
<main>
  <div class="container-fluid">
    <ol class="breadcrumb mb-4 mt-3">
      <li class="breadcrumb-item"><a href="/manage">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/manage/categories/listSub">Sub Category</a></li>
      <li class="breadcrumb-item active">Add Sub Category</li>
    </ol>
    <div class="card mb-4">
      <div class="card-header">
        <div class="row ">
          <h2>Sub Category <b>Add</b></h2>
        </div>
      </div>
      <div class="card-body">
        <form method="post" action="">
          <div class="form-group ">
            <label for="" class="big mb-1">Category</label>
            <select id="category" name="category" class="ml-3  border-color: coral">
              {{#each listCate}}
              <option value="{{IDCategory}}">{{CategoryName}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label class="big mb-1 " for="title">Sub Category Name</label>
            <input class="form-control py-4" id="title" type="text" name="SubCategoryName" placeholder="Enter Sub Category Name" required />
          </div>
          <button type="submit" class="btn btn-lg btn-success btn-block">
            <i class="fa fa-check" aria-hidden="true"></i>
            Add
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
