
<main>
  <div class="container-fluid">
    <ol class="breadcrumb mb-4 mt-3">
      <li class="breadcrumb-item"><a href="/manage">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/manage/categories/list">Category</a></li>
      <li class="breadcrumb-item active">Edit Category</li>
    </ol>
    <div class="card mb-4">
      <div class="card-header">
        <div class="row ">
          <h2>Category <b>Edit</b></h2>
        </div>
      </div>
      <div class="card-body">
        <form method="post" action="">
        <div class="form-group">
            <label class="big mb-1 " for="id">Category ID</label>
            <input class="form-control py-4" id="id" type="text" name="CategoryID" value="{{listCate.IDCategory}}" readonly/>
        </div>
          <div class="form-group">
            <label class="big mb-1 " for="name">Category Name</label>
            <input class="form-control py-4" id="name" type="text" name="CategoryName" value="{{listCate.CategoryName}}" required />
          </div>
          <button type="submit" class="btn btn-lg btn-success btn-block">
            <i class="fa fa-check" aria-hidden="true"></i>
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
