@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 15px; }

body {
  box-sizing: border-box; }

.margin-left-24 {
  margin-left: 24px !important; }

.margin-t-b-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important; }

.btn-left-center {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); }

.btn-right-center {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%); }

.btn-center-center, .slider-box, .theme-item__link--icon, .account .scene-avt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.slider__next-icon, .slider__previous-icon {
  background-color: rgba(170, 170, 170, 0.3);
  padding: 12px 16px;
  border-radius: 50%; }

.slider__next-icon, .slider__previous-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.post-item {
  text-decoration: none;
  color: inherit;
  font-size: inherit; }

.login-input__paragraph, .login-input-with__tips {
  letter-spacing: 2px;
  margin: 12px 0;
  font-weight: 200;
  font-size: 13px;
  color: #333;
  font-family: cursive; }

.form-group__input {
  display: block;
  padding: 3px 12px;
  border: 1px solid #fe6e00;
  outline: none;
  max-width: 100%;
  width: 70%;
  height: 50px;
  font-size: 22px;
  font-family: cursive; }

.login-input-btn input,
.login-input-btn a {
  display: block;
  padding: 12px;
  border: 1px solid #fe6e00;
  outline: none;
  width: 200px; }

.login-input-with__google:active {
  transform: rotate(10deg);
  opacity: 0; }

.login-input-btn input:hover, .login-input-btn input:focus,
.login-input-btn a:hover,
.login-input-btn a:focus {
  box-shadow: 0 0 10px #333; }

.header-right .btn:focus, .account .option-settings__title {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); }

.account .option-settings__title {
  padding: 12px 15px; }

.account .option-settings-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 12px 0; }

.account .option-settings__item--link:hover, .account .option-settings__item--link:focus, .account .option-settings__item--link:active, .account .option-settings__item--link.active {
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  padding-left: 24px;
  padding-right: 8px;
  border-radius: 0 24px 24px 0; }

.account .option-settings__item--link {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.text-danger {
  color: red; }

.grid {
  display: block;
  width: 100%;
  padding: 0; }
  .grid .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px; }
    @media (min-width: 740px) and (max-width: 1112px) {
      .grid .row {
        margin-left: -8px;
        margin-right: -8px; } }
    @media (min-width: 1113px) {
      .grid .row {
        margin-left: -12px;
        margin-right: -12px; } }
    .grid .row .col {
      box-sizing: border-box;
      padding-left: 4px;
      padding-right: 4px; }
      @media (min-width: 740px) and (max-width: 1112px) {
        .grid .row .col {
          padding-left: 8px;
          padding-right: 8px; } }
      @media (min-width: 1113px) {
        .grid .row .col {
          padding-left: 12px;
          padding-right: 12px; } }
    .grid .row .l-0,
    .grid .row .m-0,
    .grid .row .s-0 {
      display: none; }
    .grid .row .s-1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .grid .row .s-o-1 {
      margin-left: 8.33333%; }
    .grid .row .s-2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .grid .row .s-o-2 {
      margin-left: 16.66667%; }
    .grid .row .s-3 {
      flex-basis: 25%;
      max-width: 25%; }
    .grid .row .s-o-3 {
      margin-left: 25%; }
    .grid .row .s-4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .grid .row .s-o-4 {
      margin-left: 33.33333%; }
    .grid .row .s-5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .grid .row .s-o-5 {
      margin-left: 41.66667%; }
    .grid .row .s-6 {
      flex-basis: 50%;
      max-width: 50%; }
    .grid .row .s-o-6 {
      margin-left: 50%; }
    .grid .row .s-7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .grid .row .s-o-7 {
      margin-left: 58.33333%; }
    .grid .row .s-8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .grid .row .s-o-8 {
      margin-left: 66.66667%; }
    .grid .row .s-9 {
      flex-basis: 75%;
      max-width: 75%; }
    .grid .row .s-o-9 {
      margin-left: 75%; }
    .grid .row .s-10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .grid .row .s-o-10 {
      margin-left: 83.33333%; }
    .grid .row .s-11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .grid .row .s-o-11 {
      margin-left: 91.66667%; }
    .grid .row .s-12 {
      flex-basis: 100%;
      max-width: 100%; }
    .grid .row .s-o-12 {
      margin-left: 100%; }
    @media (min-width: 740px) and (max-width: 1112px) {
      .grid .row .m-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%; }
      .grid .row .m-o-1 {
        margin-left: 8.33333%; } }
    @media (min-width: 740px) and (max-width: 1112px) {
      .grid .row .m-2 {
        flex-basis: 16.66667%;
        max-width: 16.66667%; }
      .grid .row .m-o-2 {
        margin-left: 16.66667%; } }
    @media (min-width: 740px) and (max-width: 1112px) {
      .grid .row .m-3 {
        flex-basis: 25%;
        max-width: 25%; }
      .grid .row .m-o-3 {
        margin-left: 25%; } }
    @media (min-width: 740px) and (max-width: 1112px) {
      .grid .row .m-4 {
        flex-basis: 33.33333%;
        max-width: 33.33333%; }
      .grid .row .m-o-4 {
        margin-left: 33.33333%; } }
    @media (min-width: 740px) and (max-width: 1112px) {
      .grid .row .m-5 {
        flex-basis: 41.66667%;
        max-width: 41.66667%; }
      .grid .row .m-o-5 {
        margin-left: 41.66667%; } }
    @media (min-width: 740px) and (max-width: 1112px) {
      .grid .row .m-6 {
        flex-basis: 50%;
        max-width: 50%; }
      .grid .row .m-o-6 {
        margin-left: 50%; } }
    @media (min-width: 740px) and (max-width: 1112px) {
      .grid .row .m-7 {
        flex-basis: 58.33333%;
        max-width: 58.33333%; }
      .grid .row .m-o-7 {
        margin-left: 58.33333%; } }
    @media (min-width: 740px) and (max-width: 1112px) {
      .grid .row .m-8 {
        flex-basis: 66.66667%;
        max-width: 66.66667%; }
      .grid .row .m-o-8 {
        margin-left: 66.66667%; } }
    @media (min-width: 740px) and (max-width: 1112px) {
      .grid .row .m-9 {
        flex-basis: 75%;
        max-width: 75%; }
      .grid .row .m-o-9 {
        margin-left: 75%; } }
    @media (min-width: 740px) and (max-width: 1112px) {
      .grid .row .m-10 {
        flex-basis: 83.33333%;
        max-width: 83.33333%; }
      .grid .row .m-o-10 {
        margin-left: 83.33333%; } }
    @media (min-width: 740px) and (max-width: 1112px) {
      .grid .row .m-11 {
        flex-basis: 91.66667%;
        max-width: 91.66667%; }
      .grid .row .m-o-11 {
        margin-left: 91.66667%; } }
    @media (min-width: 740px) and (max-width: 1112px) {
      .grid .row .m-12 {
        flex-basis: 100%;
        max-width: 100%; }
      .grid .row .m-o-12 {
        margin-left: 100%; } }
    @media (min-width: 1113px) {
      .grid .row .l-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%; }
      .grid .row .l-o-1 {
        margin-left: 8.33333%; } }
    @media (min-width: 1113px) {
      .grid .row .l-2 {
        flex-basis: 16.66667%;
        max-width: 16.66667%; }
      .grid .row .l-o-2 {
        margin-left: 16.66667%; } }
    @media (min-width: 1113px) {
      .grid .row .l-3 {
        flex-basis: 25%;
        max-width: 25%; }
      .grid .row .l-o-3 {
        margin-left: 25%; } }
    @media (min-width: 1113px) {
      .grid .row .l-4 {
        flex-basis: 33.33333%;
        max-width: 33.33333%; }
      .grid .row .l-o-4 {
        margin-left: 33.33333%; } }
    @media (min-width: 1113px) {
      .grid .row .l-5 {
        flex-basis: 41.66667%;
        max-width: 41.66667%; }
      .grid .row .l-o-5 {
        margin-left: 41.66667%; } }
    @media (min-width: 1113px) {
      .grid .row .l-6 {
        flex-basis: 50%;
        max-width: 50%; }
      .grid .row .l-o-6 {
        margin-left: 50%; } }
    @media (min-width: 1113px) {
      .grid .row .l-7 {
        flex-basis: 58.33333%;
        max-width: 58.33333%; }
      .grid .row .l-o-7 {
        margin-left: 58.33333%; } }
    @media (min-width: 1113px) {
      .grid .row .l-8 {
        flex-basis: 66.66667%;
        max-width: 66.66667%; }
      .grid .row .l-o-8 {
        margin-left: 66.66667%; } }
    @media (min-width: 1113px) {
      .grid .row .l-9 {
        flex-basis: 75%;
        max-width: 75%; }
      .grid .row .l-o-9 {
        margin-left: 75%; } }
    @media (min-width: 1113px) {
      .grid .row .l-10 {
        flex-basis: 83.33333%;
        max-width: 83.33333%; }
      .grid .row .l-o-10 {
        margin-left: 83.33333%; } }
    @media (min-width: 1113px) {
      .grid .row .l-11 {
        flex-basis: 91.66667%;
        max-width: 91.66667%; }
      .grid .row .l-o-11 {
        margin-left: 91.66667%; } }
    @media (min-width: 1113px) {
      .grid .row .l-12 {
        flex-basis: 100%;
        max-width: 100%; }
      .grid .row .l-o-12 {
        margin-left: 100%; } }
  .grid.wide {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 740px) and (max-width: 1023px) {
      .grid.wide {
        width: 644px; } }
    @media (min-width: 1024px) and (max-width: 1239px) {
      .grid.wide {
        width: 984px; } }
    @media (min-width: 1024px) and (max-width: 1239px) {
      .grid.wide .row {
        margin-left: -12px;
        margin-right: -12px; } }
    @media (min-width: 1024px) and (max-width: 1239px) {
      .grid.wide .row .col {
        padding-left: 12px;
        padding-right: 12px; } }
    .grid.wide .row .l-0 {
      display: none; }
    @media (min-width: 1113px) {
      .grid.wide .row .l-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%; }
      .grid.wide .row .l-o-1 {
        margin-left: 8.33333%; } }
    @media (min-width: 1113px) {
      .grid.wide .row .l-2 {
        flex-basis: 16.66667%;
        max-width: 16.66667%; }
      .grid.wide .row .l-o-2 {
        margin-left: 16.66667%; } }
    @media (min-width: 1113px) {
      .grid.wide .row .l-3 {
        flex-basis: 25%;
        max-width: 25%; }
      .grid.wide .row .l-o-3 {
        margin-left: 25%; } }
    @media (min-width: 1113px) {
      .grid.wide .row .l-4 {
        flex-basis: 33.33333%;
        max-width: 33.33333%; }
      .grid.wide .row .l-o-4 {
        margin-left: 33.33333%; } }
    @media (min-width: 1113px) {
      .grid.wide .row .l-5 {
        flex-basis: 41.66667%;
        max-width: 41.66667%; }
      .grid.wide .row .l-o-5 {
        margin-left: 41.66667%; } }
    @media (min-width: 1113px) {
      .grid.wide .row .l-6 {
        flex-basis: 50%;
        max-width: 50%; }
      .grid.wide .row .l-o-6 {
        margin-left: 50%; } }
    @media (min-width: 1113px) {
      .grid.wide .row .l-7 {
        flex-basis: 58.33333%;
        max-width: 58.33333%; }
      .grid.wide .row .l-o-7 {
        margin-left: 58.33333%; } }
    @media (min-width: 1113px) {
      .grid.wide .row .l-8 {
        flex-basis: 66.66667%;
        max-width: 66.66667%; }
      .grid.wide .row .l-o-8 {
        margin-left: 66.66667%; } }
    @media (min-width: 1113px) {
      .grid.wide .row .l-9 {
        flex-basis: 75%;
        max-width: 75%; }
      .grid.wide .row .l-o-9 {
        margin-left: 75%; } }
    @media (min-width: 1113px) {
      .grid.wide .row .l-10 {
        flex-basis: 83.33333%;
        max-width: 83.33333%; }
      .grid.wide .row .l-o-10 {
        margin-left: 83.33333%; } }
    @media (min-width: 1113px) {
      .grid.wide .row .l-11 {
        flex-basis: 91.66667%;
        max-width: 91.66667%; }
      .grid.wide .row .l-o-11 {
        margin-left: 91.66667%; } }
    @media (min-width: 1113px) {
      .grid.wide .row .l-12 {
        flex-basis: 100%;
        max-width: 100%; }
      .grid.wide .row .l-o-12 {
        margin-left: 100%; } }

.form-group {
  display: flex;
  flex-direction: column; }
  .form-group__input:focus, .form-group__input:hover {
    transform: scale(1.05); }
  .form-group__input--small {
    height: 35px; }
  .form-group__check {
    margin: 8px 0; }
  .form-group .control-group {
    display: flex;
    font-size: 22px;
    font-family: cursive; }
    .form-group .control-group .gender {
      width: 220px; }
      .form-group .control-group .gender input {
        transform: scale(1);
        transition: all .2s; }
        .form-group .control-group .gender input:focus {
          outline: none;
          transform: scale(1.5); }
        .form-group .control-group .gender input:focus + label {
          color: #fe6e00; }
      .form-group .control-group .gender label {
        cursor: pointer; }

.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 6px 0px;
  min-width: 100px;
  text-align: center; }

.btn-primary {
  text-decoration: none;
  color: #f3f3f3;
  font-size: inherit;
  background-color: #fe6e00; }

.btn-white {
  text-decoration: none;
  color: #222222;
  font-size: inherit;
  background-color: #f3f3f3; }

.btn-radius-20 {
  border-radius: 20px; }

.btn-google, .login-input-with__google {
  color: #000;
  background-color: #fff;
  border: 1px solid #fe6e00;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  width: 300px;
  padding: 8px 12px; }

.title {
  width: 100%;
  font-family: inherit;
  text-align: center; }
  .title__heading {
    position: relative;
    font-size: 25px;
    font-weight: 500; }
  .title__caption {
    font-size: 16px;
    letter-spacing: 2px;
    padding: 24px 0;
    display: inline-block;
    position: relative; }
  .title__caption::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background-color: #fe6e00; }
  .title-sub {
    border-left: 4px solid #fe6e00;
    padding-left: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px; }
    .title-sub__heading {
      font-weight: 300; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  box-shadow: 0 10px 15px rgba(116, 116, 116, 0.7);
  background-color: rgba(243, 243, 243, 0.9);
  z-index: 100;
  backdrop-filter: blur(5px); }
  .header--relative {
    position: relative; }
  .header-logo {
    display: flex;
    width: 100%;
    height: 56px;
    text-decoration: none;
    transition: all .8; }
    .header-logo:focus {
      outline: none;
      transform: scale(1.1); }
    .header-logo__name {
      line-height: 56px;
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: none;
      color: #fe6e00;
      font-size: 20px; }
  .header-nav {
    font-size: 18px; }
    .header-nav__item {
      display: inline-block;
      padding: 0 12px;
      line-height: 56px;
      transition: background-color .3s ease; }
      .header-nav__item:hover > .header-nav-sub {
        opacity: 1;
        visibility: visible; }
      .header-nav__item:hover, .header-nav__item:active {
        border-bottom: 2px solid #fe6e00;
        background-color: rgba(170, 170, 170, 0.3); }
    .header-nav__link {
      text-decoration: none;
      color: blue;
      font-size: 18px; }
      .header-nav__link:focus {
        outline: none;
        font-size: 22px;
        font-weight: bolder; }
    .header-nav-sub {
      position: absolute;
      top: 105%;
      left: 0;
      min-width: 100%;
      min-height: 50px;
      list-style-type: none;
      background-color: #f3f3f3;
      box-shadow: 0 10px 20px #ccc;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease; }
      .header-nav-sub__item {
        padding-left: 20px;
        max-width: 100%;
        flex-basis: 25%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .header-nav-sub__item--link {
          text-decoration: none;
          color: black; }
        .header-nav-sub__item:hover {
          background-color: #ffaf42; }
  .header-right {
    position: relative;
    width: 100%;
    height: 56px; }
    .header-right .btn:focus {
      letter-spacing: 2px;
      outline: none;
      background-color: #ffaf42; }
    .header-right .account {
      margin-top: 0px !important; }
      .header-right .account__btn {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-45%); }
        .header-right .account__btn img {
          border-radius: 50%;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
      .header-right .account-box {
        position: absolute;
        top: 100%;
        right: 0;
        min-width: 140px;
        background-color: white;
        box-shadow: 0 0 8px rgba(27, 27, 27, 0.3);
        opacity: 0;
        transform: translateY(80%);
        transition: all .2s linear; }
        .header-right .account-box__item {
          list-style-type: none; }
        .header-right .account-box a {
          text-decoration: none;
          color: #fe6e00;
          font-size: 16px;
          padding: 7px 5px;
          display: block;
          text-align: center; }
          .header-right .account-box a:hover {
            background-color: #ccc; }
          .header-right .account-box a:active {
            background-color: #ccc;
            transform: scale(0.9); }
      .header-right .account--checked {
        display: none; }
      .header-right .account--checked:checked ~ .account-box,
      .header-right .account--checked:checked ~ .overlay {
        opacity: 1;
        display: block;
        transform: translateY(0); }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.slider {
  position: relative;
  height: 100vh;
  background-image: none, url("../../../resources/img/slider/slider_001.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image 1s linear;
  animation: fade 1s;
  z-index: 1; }
  .slider-box::before {
    content: ".";
    position: absolute;
    top: -10%;
    left: 0;
    background-color: #3535353a;
    width: 100%;
    height: 120%;
    z-index: -1; }
  .slider-box {
    width: 100%;
    backdrop-filter: blur(20px); }
    .slider-box__upload a {
      display: inline-block;
      border-radius: 15px 15px 0px 0px;
      width: 100%;
      line-height: 56px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      color: #f3f3f3;
      font-size: 20px;
      background-color: #fe6e00;
      transition: all .2s; }
    .slider-box__upload a:hover,
    .slider-box__upload a:active {
      background-color: #ffaf42; }
    .slider-box__search {
      margin-top: 4px;
      min-height: 100px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #f3f3f3; }
      .slider-box__search--input {
        width: 80%;
        padding: 3px 12px;
        background-color: rgba(233, 109, 7, 0.5);
        border: none;
        height: 42px;
        border-radius: 30px 0 0 30px;
        letter-spacing: 1px;
        font-size: 15px;
        transition: all .2s; }
      .slider-box__search--input:focus {
        outline: none;
        font-size: 18px; }
      .slider-box__search--btn {
        width: 19%;
        padding: 3px 12px;
        background-color: #fe6e00;
        color: #f3f3f3;
        border: none;
        height: 42px;
        border-radius: 0 30px 30px 0;
        font-size: 18px; }
      .slider-box__search--btn:focus {
        outline: none; }
    .slider-box__heading {
      margin: 12px 0;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      color: #fe6e00; }
    .slider-box__form {
      width: 100%;
      padding: 12px 10px; }
  .slider__next {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%; }
    .slider__next-icon {
      right: 10px; }
  .slider__previous {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%; }
    .slider__previous-icon {
      left: 10px; }
  .slider__next:hover, .slider__next:active, .slider__previous:hover, .slider__previous:active {
    background-color: rgba(44, 44, 44, 0.3); }
  .slider-dot {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); }
    .slider-dot input[id^="slider-dot"] {
      opacity: 0; }
    .slider-dot label + label {
      margin-left: 10px; }
    .slider-dot-label {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #f3f3f3; }
      .slider-dot-label:hover {
        background-color: #fe6e00; }
      .slider-dot-label--checked {
        background-color: rgba(27, 27, 27, 0.3); }

.section-container {
  margin-top: 56px;
  padding-top: 56px;
  box-shadow: inset 0px 11px 8px -10px #CCC; }

.theme-item__img {
  position: relative;
  width: 100%;
  height: 120px; }

.theme-item__link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(255, 175, 66, 0.3);
  transition: all .3s; }
  .theme-item__link--icon {
    display: block;
    width: 50px;
    height: 55px;
    background-image: url("../../../resources/img/theme/sprites1.png");
    background-repeat: no-repeat; }
    .theme-item__link--icon-00 {
      background-position: top 2px left 5px; }
    .theme-item__link--icon-01 {
      background-position: top 2px left -50px; }
    .theme-item__link--icon-02 {
      background-position: top 2px left -105px; }
    .theme-item__link--icon-03 {
      background-position: top 2px left -160px; }

.theme-item__link:hover, .theme-item__link:active {
  box-shadow: 0 0 20px rgba(34, 34, 34, 0.7); }

.theme-item__text {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif; }
  .theme-item__text--heading {
    font-size: 18px;
    margin: 24px 0; }

.post-item {
  position: relative;
  display: inline-block;
  margin: 28px 0;
  box-shadow: 0 0 20px #ccc;
  border-radius: 20px;
  transition: all .3s ease;
  overflow: hidden; }
  .post-item__img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px 20px 0 0; }
    .post-item__img img {
      width: 100%; }
  .post-item--small .post-item__img {
    height: 200px; }
  .post-item--small .post-time {
    flex-direction: column; }

.post-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
  padding: 8px 12px; }
  .post-info__heading {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 4px; }
  .post-info__paragraph {
    letter-spacing: 1px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .post-info-avt {
    position: absolute;
    top: 2%;
    left: 2%; }
    .post-info-avt img {
      width: 50px;
      height: 50px;
      clip-path: circle(40%);
      box-shadow: 0 0 10px #ccc; }

.post-item:hover {
  transform: scale(1.02); }

.post-item--big {
  position: relative;
  overflow: hidden; }
  .post-item--big .blog-item__img {
    height: 250px; }
  .post-item--big .blog-info {
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: bottom .5s; }
  .post-item--big .blog-item:hover .blog-info {
    bottom: 0; }

.post-time {
  font-size: 13px;
  opacity: .6;
  color: black;
  font-family: cursive;
  padding: 5px 12px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap; }
  .post-time-item {
    margin-left: 12px; }

.place-item {
  border-radius: 0 !important; }

.place--number {
  font-size: 18px;
  font-weight: 700; }

.place-info {
  margin: 16px;
  text-align: center; }

.copyright {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 56px;
  background-color: #999; }

.webinfo {
  margin-bottom: 32px;
  font-family: Arial, Helvetica, sans-serif; }
  .webinfo__heading {
    font-size: 18px;
    line-height: 30px;
    display: inline-block;
    border-bottom: 2px solid #fe6e00;
    font-weight: 500; }
  .webinfo-list {
    list-style-type: none; }
  .webinfo-item {
    line-height: 28px;
    transition: all .3s; }
    .webinfo-item--link {
      text-decoration: none;
      color: #333; }
    .webinfo-item:hover {
      background-color: #ccc;
      font-size: 20px;
      letter-spacing: 2px; }

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .logo-footer {
    transition: all .3s linear; }
    .logo-footer img {
      width: 72px;
      height: 72px; }
    .logo-footer:hover, .logo-footer:active, .logo-footer:focus {
      transform: scale(1.2); }
  .logo span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #fe6e00;
    text-transform: uppercase; }

.logan {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  font-family: cursive;
  padding: 12px 0; }

.social {
  margin: 24px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .social-item {
    border-radius: 50%;
    font-size: 18px;
    line-height: 42px;
    width: 42px;
    height: 42px;
    text-align: center;
    margin: 5px 12px;
    box-shadow: 0 0 10px #ccc;
    transition: all .3s linear; }
    .social-item--facebook {
      color: blue; }
    .social-item--youtube {
      color: red; }
    .social-item--twitter {
      color: #00b7ff; }
    .social-item:hover {
      box-shadow: 0 0 10px #333;
      transform: scale(1.2); }

.login {
  padding-top: 24px;
  min-height: 100vh;
  box-shadow: -2rem 0 4rem rgba(68, 68, 68, 0.2); }
  .login-bg {
    min-height: 100%;
    background-image: url("../../img/bg-signin.jpg");
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center center; }
  .login-input {
    min-height: 100%;
    box-shadow: -7rem 0 10rem #ccc;
    width: 8rem; }
    .login-input__logo {
      text-align: center; }
      .login-input__logo--link {
        width: 120px;
        height: 120px;
        display: inline-block;
        transition: all .2s; }
        .login-input__logo--link img {
          width: 100%; }
        .login-input__logo--link:active {
          transform: scale(0.9);
          filter: blur(1px); }
        .login-input__logo--link:focus {
          outline: none;
          transform: scale(1.2); }
    .login-input__heading {
      margin-top: 24px;
      font-size: 22px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      text-transform: uppercase; }
    .login-input-with {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .login-input-with__google {
        max-width: 100%;
        width: 300px;
        transition: all .2s ease; }
        .login-input-with__google:hover, .login-input-with__google:focus {
          background-color: #fe6e00; }
        .login-input-with__google i {
          color: red;
          font-size: 20px;
          vertical-align: middle; }
      .login-input-with__tips {
        display: block; }
    .login-input--solid {
      max-width: 100%;
      width: 120px;
      border: 1px solid #fe6e00;
      margin: 8px 0;
      box-shadow: 0 3px 5px #333; }
    .login-input-btn {
      width: 500px;
      height: 56px;
      position: relative; }
      .login-input-btn input,
      .login-input-btn a {
        transition: all .2s ease; }
    .login-input-link__forgot, .login-input-link__account {
      display: block;
      padding: 5px 8px;
      text-align: left;
      font-size: 18px; }
      .login-input-link__forgot:focus, .login-input-link__forgot:hover, .login-input-link__account:focus, .login-input-link__account:hover {
        outline: none;
        color: #fe6e00;
        font-size: 20px;
        text-shadow: 0 0 10px #fe6e00; }

.account {
  margin-top: 56px; }
  .account .scene {
    position: relative;
    display: block;
    height: 300px;
    width: 100%;
    background-image: linear-gradient(to right bottom, #ffaf42, #fd5602), none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    .account .scene-avt {
      text-align: center; }
      .account .scene-avt__img {
        padding: 10px;
        width: 120px;
        height: 120px;
        border-radius: 50%; }
      .account .scene-avt__name {
        text-transform: uppercase;
        font-family: 'Source Sans Pro', sans-serif; }
    .account .scene-nav {
      position: absolute;
      bottom: 11px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      list-style-type: none; }
      .account .scene-nav__item {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3); }
        .account .scene-nav__item--link {
          padding: 12px 24px 12px 24px;
          background-color: #f3f3f3;
          width: 100%;
          height: 100%;
          transition: all .3s linear;
          text-decoration: none;
          color: #222222;
          font-size: 18px;
          transition: all .3s linear; }
          .account .scene-nav__item--link:hover, .account .scene-nav__item--link:focus, .account .scene-nav__item--link:active {
            background-color: #fe6e00;
            color: #f3f3f3;
            transform: scale(1.02);
            letter-spacing: 2px;
            outline: none; }
        .account .scene-nav__item--link.active {
          background-color: #222222;
          color: #fe6e00; }
  .account .option-heading {
    margin: 12px 0px;
    width: 100%;
    background-color: rgba(204, 204, 204, 0.63); }
    .account .option-heading h3 {
      padding: 12px 0 12px 15px;
      font-size: 18px;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700; }
    .account .option-heading__button {
      padding: 8px 12px;
      text-decoration: none;
      display: inline-block;
      color: black; }
      .account .option-heading__button:hover {
        background-color: rgba(27, 27, 27, 0.3); }
      .account .option-heading__button--active {
        background-color: #fe6e00; }
  .account .option-settings {
    width: 100%;
    background-color: rgba(204, 204, 204, 0.63); }
    .account .option-settings__title {
      border-bottom: 1px solid #fe6e00;
      font-size: 16px;
      text-transform: uppercase; }
    .account .option-settings-list {
      flex-direction: column; }
    .account .option-settings__item {
      width: 100%;
      transition: all .3s linear; }
      .account .option-settings__item--link {
        display: inline-block;
        padding: 12px 0 12px 4px;
        width: 100%;
        text-decoration: none;
        color: #fe6e00;
        font-size: 18px;
        transition: all .3s linear; }
        .account .option-settings__item--link:hover, .account .option-settings__item--link:focus, .account .option-settings__item--link:active {
          transform: scale(1.02);
          letter-spacing: 2px;
          outline: none;
          background-color: #fe6e00;
          color: #f3f3f3; }
      .account .option-settings__item--link.active {
        background-color: #222222;
        color: #fe6e00; }
  .account .option-contents {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap; }
