    <footer class="footer-area">
        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Copywrite Text -->
                    <div class="col-12 col-sm-6">
                        <p class="copywrite-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> This
                            project is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://github.com/1760322/DoAn_LTW02" target="_blank">HCMUS's Student</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <nav class="footer-nav">
                            <ul>
                                <li><a href="#">1760322</a></li>
                                <li><a href="#">1760335</a></li>
                                <li><a href="#">1760407</a></li>
                                <li><a href="#">1760428</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
