<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Title -->
  <title>VN Tourism | Trang chủ</title>

  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../../assets/resources/css/all/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

  <link rel="stylesheet" href="../../assets/resources/css/page/article.css">

  {{{_sections.css}}}

</head>

<body>

  <!-- ##### Header Area Start ##### -->
    {{> show/header}}
  <!-- ##### Header Area End ##### -->


  <!-- ##### Body Area Start ##### -->
  {{{body}}}
  <!-- ##### Body Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
    {{> show/footer}}
  <!-- ##### Footer Area End ##### -->


  <!-- ##### All Javascript Script ##### -->
  {{> show/scriptLoad}}
  {{{_sections.js}}}
</body>

</html>
