<!-- Begin Slider -->
    <div class="grid slider">
        <div class="row">
            <div class="col l-4 slider-box">
                <div class="slider-box__upload">
                    <a href="#"><span>Tạo bài viết riêng</span></a>
                </div>
                <div class="slider-box__search">
                    <h3 class="slider-box__heading">
                        Khám phá theo cách của bạn
                    </h3>
                    <form action="" class="slider-box__form">
                        <input type="text" class="slider-box__search--input"
                        placeholder="Địa điểm ...">
                        <input type="submit" value="TÌM" class="slider-box__search--btn">
                    </form>
                </div>
            </div>
        </div>
        <div class="slider__next" onclick="alert('left');">
            <i class="slider__next-icon fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        
        <div class="slider__previous" onclick="alert('right');">
            <i class="slider__previous-icon fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
    <!-- End Slider -->
<!-- Begin Theme -->
    <section class="grid wide section-container theme">
        <div class="row">
            <div class="col l-3">
                <div class="theme-item">
                    <div class="theme-item__img">
                        <a href="#" class="theme-item__link theme-item__link--icon-00">
                            <i class="theme-item__link--icon"></i>
                        </a>
                    </div>
                    <div class="theme-item__text">
                        <h3 class="theme-item__text--heading">Cảm hứng</h3>
                        <caption class="theme-item__text--caption">
                            Vi vu khám phá với hơn 30,000 điểm đến tại Gody và đánh giá chi tiết từ thành viên.
                        </caption>    
                    </div>
                </div>
            </div>
            <div class="col l-3">
                <div class="theme-item">
                    <div class="theme-item__img">
                        <a href="#" class="theme-item__link">
                            <i class="theme-item__link--icon theme-item__link--icon-01"></i>
                        </a>
                    </div>
                    <div class="theme-item__text">
                        <h3 class="theme-item__text--heading">Lập hành trình</h3>
                        <caption class="theme-item__text--caption">
                            Tiện lợi, dễ dàng, tiết kiệm thời gian với khả năng lập hành trình du lịch chi tiết.
                        </caption>    
                    </div>
                </div>
            </div>
            <div class="col l-3">
                <div class="theme-item">
                    <div class="theme-item__img">
                        <a href="#" class="theme-item__link">
                            <i class="theme-item__link--icon theme-item__link--icon-02"></i>
                        </a>
                    </div>
                    <div class="theme-item__text">
                        <h3 class="theme-item__text--heading">Tiện ích</h3>
                        <caption class="theme-item__text--caption">
                            Hỗ trợ cho bạn các dịch vụ du lịch tốt nhất trên khắp các điểm đến.
                        </caption>    
                    </div>
                </div>
            </div>
            <div class="col l-3">
                <div class="theme-item">
                    <div class="theme-item__img">
                        <a href="#" class="theme-item__link">
                            <i class="theme-item__link--icon theme-item__link--icon-03"></i>
                        </a>
                    </div>
                    <div class="theme-item__text">
                        <h3 class="theme-item__text--heading">Cảm hứng</h3>
                        <caption class="theme-item__text--caption">
                            Cùng giữ lại những kỉ niệm, khoảnh khắc và trải nghiệm du lịch tuyệt vời nhất.
                        </caption>    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Theme -->
<!-- Begin Content -->
    <section class="grid wide section-container content">
        <div class="row">
            <div class="title">
                <h2 class="title__heading">Cảm hứng du lịch</h2>
                <span class="title__caption">Những bài viết - khoảnh khắc độc đáo</span>
            </div>
        </div>
        <!-- Begin Section Blog -->
        <div class="content-title">
            <h3 class="content-title__heading">Blog thành viên</h3>
        </div>
        <div class="blog">
            <div class="row">
                <!-- 2 Item Big -->
                <div class="row blog-item--big">
                    <div class="col l-6">
                        <a href="#" class="blog-item">
                            <div class="blog-item__img">
                                <img src="../../public/resources/img/logoTourism.png" alt="First item">
                            </div>  
                            <div class="blog-info">
                                <div class="">
                                    <h3 class="blog-info__heading">5 Điểm Đến Hấp Dẫn Ở Miền Trung Dịp Tết Nguyên Đán</h3>
                                    <p class="blog-info__paragraph">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci velit quis reiciendis, ducimus ea quos modi totam quibusdam veritatis fugiat!
                                    </p>
                                </div>
                                <div class="blog-info-avt">
                                    <img src="../../public/resources/img/logoTourism.png" alt="Author">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col l-6">
                        <a href="#" class="blog-item">
                            <div class="blog-item__img">
                                <img src="../../public/resources/img/logoTourism.png" alt="First item">
                            </div>  
                            <div class="blog-info">
                                <div class="">
                                    <h3 class="blog-info__heading">5 Điểm Đến Hấp Dẫn Ở Miền Trung Dịp Tết Nguyên Đán</h3>
                                    <p class="blog-info__paragraph">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci velit quis reiciendis, ducimus ea quos modi totam quibusdam veritatis fugiat!
                                    </p>
                                </div>
                                <div class="blog-info-avt">
                                    <img src="../../public/resources/img/logoTourism.png" alt="Author">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- 8 Item Small -->
                <div class="col l-3">
                    <a href="#" class="blog-item">
                        <div class="blog-item__img">
                            <img src="../../public/resources/img/logoTourism.png" alt="First item">
                        </div>  
                        <div class="blog-info">
                            <div class="">
                                <h3 class="blog-info__heading">5 Điểm Đến Hấp Dẫn Ở Miền Trung Dịp Tết Nguyên Đán</h3>
                                <p class="blog-info__paragraph">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci velit quis reiciendis, ducimus ea quos modi totam quibusdam veritatis fugiat!
                                </p>
                            </div>
                            <div class="blog-info-avt">
                                <img src="../../public/resources/img/logoTourism.png" alt="Author">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col l-3">
                    <a href="#" class="blog-item">
                        <div class="blog-item__img">
                            <img src="../../public/resources/img/logoTourism.png" alt="First item">
                        </div>  
                        <div class="blog-info">
                            <div class="">
                                <h3 class="blog-info__heading">5 Điểm Đến Hấp Dẫn Ở Miền Trung Dịp Tết Nguyên Đán</h3>
                                <p class="blog-info__paragraph">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci velit quis reiciendis, ducimus ea quos modi totam quibusdam veritatis fugiat!
                                </p>
                            </div>
                            <div class="blog-info-avt">
                                <img src="../../public/resources/img/logoTourism.png" alt="Author">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col l-3">
                    <a href="#" class="blog-item">
                        <div class="blog-item__img">
                            <img src="../../public/resources/img/logoTourism.png" alt="First item">
                        </div>  
                        <div class="blog-info">
                            <div class="">
                                <h3 class="blog-info__heading">5 Điểm Đến Hấp Dẫn Ở Miền Trung Dịp Tết Nguyên Đán</h3>
                                <p class="blog-info__paragraph">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci velit quis reiciendis, ducimus ea quos modi totam quibusdam veritatis fugiat!
                                </p>
                            </div>
                            <div class="blog-info-avt">
                                <img src="../../public/resources/img/logoTourism.png" alt="Author">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col l-3">
                    <a href="#" class="blog-item">
                        <div class="blog-item__img">
                            <img src="../../public/resources/img/logoTourism.png" alt="First item">
                        </div>  
                        <div class="blog-info">
                            <div class="">
                                <h3 class="blog-info__heading">5 Điểm Đến Hấp Dẫn Ở Miền Trung Dịp Tết Nguyên Đán</h3>
                                <p class="blog-info__paragraph">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci velit quis reiciendis, ducimus ea quos modi totam quibusdam veritatis fugiat!
                                </p>
                            </div>
                            <div class="blog-info-avt">
                                <img src="../../public/resources/img/logoTourism.png" alt="Author">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col l-3">
                    <a href="#" class="blog-item">
                        <div class="blog-item__img">
                            <img src="../../public/resources/img/logoTourism.png" alt="First item">
                        </div>  
                        <div class="blog-info">
                            <div class="">
                                <h3 class="blog-info__heading">5 Điểm Đến Hấp Dẫn Ở Miền Trung Dịp Tết Nguyên Đán</h3>
                                <p class="blog-info__paragraph">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci velit quis reiciendis, ducimus ea quos modi totam quibusdam veritatis fugiat!
                                </p>
                            </div>
                            <div class="blog-info-avt">
                                <img src="../../public/resources/img/logoTourism.png" alt="Author">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col l-3">
                    <a href="#" class="blog-item">
                        <div class="blog-item__img">
                            <img src="../../public/resources/img/logoTourism.png" alt="First item">
                        </div>  
                        <div class="blog-info">
                            <div class="">
                                <h3 class="blog-info__heading">5 Điểm Đến Hấp Dẫn Ở Miền Trung Dịp Tết Nguyên Đán</h3>
                                <p class="blog-info__paragraph">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci velit quis reiciendis, ducimus ea quos modi totam quibusdam veritatis fugiat!
                                </p>
                            </div>
                            <div class="blog-info-avt">
                                <img src="../../public/resources/img/logoTourism.png" alt="Author">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col l-3">
                    <a href="#" class="blog-item">
                        <div class="blog-item__img">
                            <img src="../../public/resources/img/logoTourism.png" alt="First item">
                        </div>  
                        <div class="blog-info">
                            <div class="">
                                <h3 class="blog-info__heading">5 Điểm Đến Hấp Dẫn Ở Miền Trung Dịp Tết Nguyên Đán</h3>
                                <p class="blog-info__paragraph">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci velit quis reiciendis, ducimus ea quos modi totam quibusdam veritatis fugiat!
                                </p>
                            </div>
                            <div class="blog-info-avt">
                                <img src="../../public/resources/img/logoTourism.png" alt="Author">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col l-3">
                    <a href="#" class="blog-item">
                        <div class="blog-item__img">
                            <img src="../../public/resources/img/logoTourism.png" alt="First item">
                        </div>  
                        <div class="blog-info">
                            <div class="">
                                <h3 class="blog-info__heading">5 Điểm Đến Hấp Dẫn Ở Miền Trung Dịp Tết Nguyên Đán</h3>
                                <p class="blog-info__paragraph">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci velit quis reiciendis, ducimus ea quos modi totam quibusdam veritatis fugiat!
                                </p>
                            </div>
                            <div class="blog-info-avt">
                                <img src="../../public/resources/img/logoTourism.png" alt="Author">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- End Section Blog -->
    </section>
    <!-- End Content -->