%block-left-center{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

%block-right-center{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

%block-center-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%icon-circle{
    background-color: rgba(170, 170, 170, 0.3);
    padding: 12px 16px;
    border-radius: 50%;
}

%align-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%resettaga{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

%paragraph-sub{
    letter-spacing: 2px;
    margin: 12px 0;
    font-weight: 200;
    font-size: 13px;
    color: #333;
    font-family: cursive;
}

%form-input{
    display: block;
    padding: 3px 12px;
    border: 1px solid $color-primary;
    outline: none;
    
    max-width: 100%;
    width: 70%;
    height: 50px;

    font-size: 22px;
    font-family: cursive;
}

%btn-login{
    display: block;

    padding: 12px;
    border: 1px solid $color-primary;
    outline: none;
    width: 200px;
}

%btn-login--active{
    transform: rotate(10deg);
    opacity: 0;
}

%btn-login--hoverfocus{
    box-shadow: 0 0 10px #333;
}

%btn-box-shadow{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
}

%padding-primary{
    padding: 12px 15px;
}

%list-flex-center{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

%btn-radius-right{
    box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
    padding-left: 24px;
    padding-right: 8px;
    border-radius: 0 24px 24px 0;
}

%text-ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin btn-color($bg, $color){
    background-color: $bg;
    color: $color;
}

@mixin fontcolor($font, $color){
    text-decoration: none;
    color: $color;
    font-size: $font;
}

@mixin slider-pagination($name){
    position: absolute;
    top: 0;
    #{$name}: 0;
    width: 20%;
    height: 100%;
    @if $name == left{
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    @else if $name == right{
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
}

@mixin backgroundfull__linear($linear, $url){
    background-image: $linear, $url;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.text-danger{
    color: red;
}