$color-primary: #fe6e00;
$color-primary-light: #ffaf42;
$color-primary-dark: #fd5602;
$color-header: blue;
$color-light: rgb(243, 243, 243);
$color-dark: rgb(34, 34, 34);
$color-shadow: rgba(27, 27, 27, 0.3);
$height-primary: 56px;